<script src=https://code.jquery.com/jquery-3.5.1.slim.min.js></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
    async></script>

</body>

<footer class="page-footer bg-dark">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                    <a href="https://www.facebook.com/Abundant-Life-at-St-Andrews-Church-209421192405512" class="fa fa-facebook"></a>
                    <a href="https://www.facebook.com/Abundant-Life-at-St-Andrews-Church-209421192405512" class="fa fa-twitter"></a>
                    <a href="https://www.facebook.com/Abundant-Life-at-St-Andrews-Church-209421192405512" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Church</h5>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quod, perferendis velit
                    dolorum saepe optio sapiente ut iusto quam doloremque dolores eius, aliquam ipsum. Magnam ipsum nam
                    aut nemo error!
                </p>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Links</h5>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Useful Links</h5>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 110 px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                    <li class="my-2"><a href="#">HTML 5</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 110 px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><i class="fa fa-map-marker-alt"></i></i></li>
                    <li class="my-2"><i class="fa fa-home mr-3"></i></li>
                    <li class="my-2"><i class="fa fa-home mr-3"></i></li>
                   
                </ul>
            </div>
        </div>
    </div>
        <div class="footer-copyright text-center py-3"><p>&copy; Copyright</p>
            <a href="#"">church</a>
            <p>designed by: janjan</p>
        </div>

    </div>
</footer>

</html>