<%- include ("./partials/header") %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
            <img class="d-block w-100" src="https://scontent.ffjr1-2.fna.fbcdn.net/v/t31.0-8/1490760_781275181886774_2022823053_o.jpg?_nc_cat=101&_nc_sid=e3f864&_nc_ohc=PNfL2rAO3foAX9sy0my&_nc_ht=scontent.ffjr1-2.fna&oh=a997e96079a3fe8544afa2d11acc7fe4&oe=5F6EE005" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Jesus promises us life more abundantly...</h1>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img class="d-block w-100"
                src="https://scontent.ffjr1-3.fna.fbcdn.net/v/t1.0-9/117998875_3824079577606304_6055416339587221972_o.jpg?_nc_cat=103&_nc_sid=730e14&_nc_ohc=Um31UU-raCsAX_jBCcF&_nc_ht=scontent.ffjr1-3.fna&oh=d00e6123b9de96b5b42e51eae7084142&oe=5F6E5D08"
                alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img class="d-block w-100"
                src="https://scontent.ffjr1-3.fna.fbcdn.net/v/t1.0-9/82508399_3219181561429445_8561537384930344960_o.jpg?_nc_cat=103&_nc_sid=730e14&_nc_ohc=qXCU4mP7dC8AX9DzI0e&_nc_ht=scontent.ffjr1-3.fna&oh=e51f1ba4b9d55e5913b5096cecb9fbe8&oe=5F6FC192"
                alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img class="d-block w-100"
                src="https://images.unsplash.com/photo-1514286969571-5142af56b991?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
                alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>
<div class="container">
    <img src="http://www.abundantlifeuae.com/images/xwelcome.jpg.pagespeed.ic.aP9cbiACCv.jpg" class="img-fluid"
        alt="Responsive image">


    <div class="container">

        <br>
        <p>
            Abundant Life Church is an international, multicultural church. Our main gatherings are in English as this
            is the most commonly spoken language among foreign expats living in the United Arab Emirates. As a
            Spirit-filled, Pentecostal church, our worship is demonstrative and our music style is upbeat and
            contemporary. We love to sing and worship the Lord. Some people dress up and others dress more comfortably
            and casually. Our services will last approximately 1 hour and 15 minutes from start to finish. Come worship
            with us this week!
        </p>

        <p><em>(Please note: we are temporarily adjusting many of our regular practices to comply with local COVID-19
                guidelines for the safe resumption of worship gatherings).</em></p>
    </div>

    <hr>

    <div class="container">
        <h1 id="how-do-we-worship">How do we worship?</h1>

        <p>As a Spirit-filled, Bible-based church, we seek to worship God in spirit and truth according to worship
            practices found in the Bible. We want to worship Him with enthusiasm and create an atmosphere of celebration
            and joy.</p>

        <p><strong>We raise our hands</strong> because 1 Timothy 2:8 says, "I will therefore that men pray every where,
            lifting up holy hands."</p>

        <p><strong>We clap our hands</strong> because Psalm 47:1 says, "O clap your hands, all ye people."</p>

        <p><strong>We sing and play music</strong> because Ephesians 5:19 says to worship "in psalms and hymns and
            spiritual songs, singing and making melody in your heart to the Lord," and Psalm 150 says to praise God with
            musical instruments.</p>

        <p><strong>We worship with a joyful noise</strong> because Psalm 66:1 says, "Make a joyful noise unto God, all
            ye lands."</strong></p>

        <p><strong>We pray together aloud</strong> because the early church "lifted up their voice to God with one
            accord" in prayer (Acts 4:24).</p>

        <p><strong>We dance in the Spirit</strong> because Psalm 149:3 says, "Let them praise His name in the dance."
        </p>

        <h6><a href="#">Back to top</a></h6>
    </div>

    <hr>


    <div class="container">

        <h1 id="what-do-we-believe">What Do We Believe?</h1>
        <p>Abundant Life Church is a Bible-based church. We wholeheartedly accept the Holy Scriptures as the final
            authority on all matters of doctrine, faith, character and conduct. The Bible is a book of life-changing
            principles which are consistently applicable for every generation and in every culture.</p>
        <p>We believe the Bible teaches the following doctrines and beliefs:</p>
        <br>
        <div class="container">
            <h2>GOD</h2>
            <p>We believe the one eternal God is revealed to us in Scripture as Father, Son and Holy Spirit. He is
                infinite in power and holy in nature, attributes and purpose; possessing absolute deity without division
                of substance, nature or being. It is a challenge for our limited human minds to comprehend the
                complexity of His existence and the mystery of His incarnation. We can only know what the Father has
                revealed to us, through His Word, by the Holy Spirit. Our church does not claim to understand everything
                there is to know about God, but we believe He is infinitely greater and more wonderful than any one of
                us can imagine. Together, we are sincerely endeavoring to know Him in a deeper way...and we believe
                Jesus is the way.</p>


        </div>

        <br>
        <div class="container">
            <h2>JESUS CHRIST</h2>
            <p>We believe every human being can have a relationship with God through Jesus Christ. He is the only way to
                God; the one Mediator between God and man. Jesus is wholly God and wholly man. He is God manifested in
                flesh. God was in Christ, reconciling the world unto Himself. Jesus is the only begotten Son of God,
                conceived by the Holy Spirit and born of the virgin Mary. As a man, Jesus lived a sinless life and
                ministered to others in the power and anointing of the Father. As our spotless Lamb, Jesus was crucified
                and died for the sins of all people, rising again victoriously on the third day. He has ascended to the
                throne of God, where He now reigns at the right hand of all authority and power, forever interceding as
                our High Priest and Advocate. We believe in the personal, bodily, imminent, and glorious return of the
                Lord Jesus Christ and the promise of His second coming inspires us for dynamic and zealous service for
                Him while waiting for His return. Every knee will one day bow and every tongue confess that Jesus Christ
                is Lord, to the glory of God the Father.</p>
        </div>

        <br>
        <div class="container">
            <h2>SIN</h2>
            <p>We believe all people have sinned and are in need of salvation. There must be atonement for our sin or we
                will be judged by God and condemned to eternal damnation and punishment. We believe salvation from sin
                can only be received by grace through faith in the atoning sacrifice of Jesus Christ, our Lord and
                Savior.
            </p>
        </div>

        <br>
        <div class="container">
            <h2>FAITH & SALVATION</h2>
            <p>God has given each person a measure of faith compelling us to seek reconciliation with Him through
                repentance and obedience. We must truly believe in the atoning work of Calvary in order to be saved. We
                must acknowledge our sin and forsake it. We must confess with our mouths that Jesus Christ is Lord and
                embrace Him as our Risen Savior. Grace is received as we believe and obey the Gospel, identifying with
                Christ’s death, burial and resurrection. We must never forget that salvation is a free gift which cannot
                be earned through our own efforts or good works; it is solely a result of God’s mercy, and our
                reconciliation with Him can only happen through faith in what Christ has already accomplished for us on
                the Cross.
            </p>
        </div>

        <br>
        <div class="container">
            <h2>WATER BAPTISM</h2>
            <p>Those who turn away from sin (repent) to believe and follow Christ are instructed to be baptized in the
                name of the Lord. We believe water baptism is more than physical cleansing or public confession. It
                brings remission of sins and the answer of a good conscience before God and man. We are symbolically
                buried with Christ in baptism, rising again to walk with Him in the newness of spiritual life. We
                believe baptism is an ordinance that should take place in accordance with the instructions of Jesus
                Christ and the precedents established by His followers.
            </p>
        </div>

        <br>
        <div class="container">
            <h2>HOLY SPIRIT BAPTISM</h2>
            <p>We believe the infilling of the Holy Spirit is promised by Jesus to all who believe. Baptism in the Holy
                Spirit is demonstrated through the initial evidence of tongues and confirmed by great joy and the
                subsequent gifts of the Spirit given for the edification of the Body. One who is genuinely Spirit-filled
                will begin to produce the fruit of the Spirit with a changed life and attitude. The Holy Spirit will
                lead and guide us in our daily walk.
            </p>
        </div>

        <br>
        <div class="container">
            <h2>HOLINESS & CHRISTIAN LIVING</h2>
            <p>First and foremost, we are commanded to love God and others. Our love for others is an expression of our
                love for God. Every believer is called to a life of peace, moral purity and integrity. We must walk in
                the Spirit and put on the mind of Christ in order to overcome our sinful human nature. We believe this
                can only be accomplished through the power of the Holy Spirit as He sanctifies and cleanses our hearts
                from unholy desires and ambitions. The more we know God, the more His holiness affects every aspect of
                our lives. As we daily endeavor to become more like Jesus Christ in principle and in practice, our
                lifestyle, attitudes and priorities will be influenced by the Holy Spirit's powerful work inside of us.
            </p>
        </div>

        <br>
        <div class="container">
            <h2>THE BODY OF CHRIST: THE CHURCH</h2>
            <p>We believe the Church is “called out” of the world as the habitation of God through the Holy Spirit. As
                part of the present day Body of Christ, we profess to be Christians in the sense that we want to be more
                like Jesus Christ and join with His Body. We do not subscribe to Christianity as a set of man-made
                religious traditions or a political system of imposing our values on others. We believe His Body is much
                larger than one congregation, group or sect. The Church is not merely a denomination, organization or
                building, but the collective relationship and ministry of all believers who are filled with the Holy
                Spirit and baptized into His Body. Though diverse in our individual gifts and callings, we are together
                the temple of the Holy Spirit and children of God according to His promise. Every single believer has a
                unique purpose and place in Christ. Regardless of nationality, culture, race, gender, ethnicity or
                social standing, we all belong to Christ and are equally valuable to Him as members of His Body.
            </p>

            <h6><a href="#">Back to top</a></h6>
            <br>
        </div>
    </div>
</div>
    
<%- include ("./partials/footer") %>